.left-align{
    text-align: left!important;
}
.flex{
    display: flex!important;
}
.left-mar{
    margin-left: 40px;
}
.bottom-mar{
    margin-bottom: 20px;
}
.map{
    position: relative;
    top:75px;
    z-index: 1;
}
.gif{
    position: relative;
    bottom: 97px;
    left: 223px;
    z-index: 200;
    opacity: 0.6;
}

.getloc{
    align-items: center;
    justify-content: center;
}
#getloc{
    transition-duration: 0.5s;
}
.rem-padding{
    padding-bottom: 0!important;
}
.add-padding{
    padding-left: 5px!important;
}
.recorded-msg, .fund-msg{
    margin: 60px;
    text-align: center;
    visibility: hidden;
}
.makevisible{
    visibility: visible;
}
.invisible{
    visibility: hidden;
}
.fund-box{
    margin-top: 100px;
}

.form-container{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-input input[type="text"], .form-input input[type="email"], .form-input input[type="tel"], .form-input input[type="password"], .form-input input[type="number"] .form-input textarea{
    width: 100%;
}
.input-flex{
    justify-content: space-around;
}
#info{
    width: 50%;
}
#link{
    padding: 3px;
}
.b4-form{
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    color: black;
}